In [7]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

import plotly.graph_objs as go
import plotly.figure_factory as ff
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

import geopandas as gpd
import matplotlib.pyplot as plt
plt.rcParams["figure.figsize"] = [16,9]

import numpy as np
import json

In [9]:
seed = 'https://storage.googleapis.com/brdata-public-data/rki-corona-archiv/2_parsed/index.html'
html = requests.get(seed)

In [10]:
soup = BeautifulSoup(html.text, "html.parser")

In [20]:
target_url = soup.find_all('a')[-2].get('href')

In [23]:
response = requests.get(target_url)

if response.status_code == 200:
    with open("latest_RKI_data.ndjson.xz", 'wb') as f:
        f.write(response.content)

In [37]:
import lzma
from tqdm.notebook import tqdm

num_lines = sum(1 for line in lzma.open('latest_RKI_data.ndjson.xz', mode='rt'))

empty_list = []

with lzma.open('latest_RKI_data.ndjson.xz', mode='rt', encoding = 'utf-8') as file:
 
    counter = 0
    
    for line in tqdm(file, total = num_lines):
        
        empty_list.append(json.loads(line))
        
        if counter < 5:
        
            print(line)
            
        counter += 1

  0%|          | 0/1626440 [00:00<?, ?it/s]

{"ObjectId":1,"IdBundesland":1,"Bundesland":"Schleswig-Holstein","Landkreis":"SK Flensburg","Altersgruppe":"A00-A04","Geschlecht":"M","AnzahlFall":1,"AnzahlTodesfall":0,"Meldedatum":"2020/09/30 00:00:00","IdLandkreis":"01001","Datenstand":"11.04.2021 00:00 Uhr","NeuerFall":0,"NeuerTodesfall":-9,"Refdatum":"2020/09/30 00:00:00","NeuGenesen":0,"AnzahlGenesen":1,"IstErkrankungsbeginn":0,"Altersgruppe2":"Nicht übermittelt","MeldedatumISO":"2020-09-30","DatenstandISO":"2021-04-11","RefdatumISO":"2020-09-30"}

{"ObjectId":2,"IdBundesland":1,"Bundesland":"Schleswig-Holstein","Landkreis":"SK Flensburg","Altersgruppe":"A00-A04","Geschlecht":"M","AnzahlFall":1,"AnzahlTodesfall":0,"Meldedatum":"2020/10/29 00:00:00","IdLandkreis":"01001","Datenstand":"11.04.2021 00:00 Uhr","NeuerFall":0,"NeuerTodesfall":-9,"Refdatum":"2020/10/29 00:00:00","NeuGenesen":0,"AnzahlGenesen":1,"IstErkrankungsbeginn":0,"Altersgruppe2":"Nicht übermittelt","MeldedatumISO":"2020-10-29","DatenstandISO":"2021-04-11","RefdatumISO":"2020-10-29"}

{"ObjectId":3,"IdBundesland":1,"Bundesland":"Schleswig-Holstein","Landkreis":"SK Flensburg","Altersgruppe":"A00-A04","Geschlecht":"M","AnzahlFall":1,"AnzahlTodesfall":0,"Meldedatum":"2020/11/03 00:00:00","IdLandkreis":"01001","Datenstand":"11.04.2021 00:00 Uhr","NeuerFall":0,"NeuerTodesfall":-9,"Refdatum":"2020/11/03 00:00:00","NeuGenesen":0,"AnzahlGenesen":1,"IstErkrankungsbeginn":0,"Altersgruppe2":"Nicht übermittelt","MeldedatumISO":"2020-11-03","DatenstandISO":"2021-04-11","RefdatumISO":"2020-11-03"}

{"ObjectId":4,"IdBundesland":1,"Bundesland":"Schleswig-Holstein","Landkreis":"SK Flensburg","Altersgruppe":"A00-A04","Geschlecht":"M","AnzahlFall":1,"AnzahlTodesfall":0,"Meldedatum":"2020/11/20 00:00:00","IdLandkreis":"01001","Datenstand":"11.04.2021 00:00 Uhr","NeuerFall":0,"NeuerTodesfall":-9,"Refdatum":"2020/11/19 00:00:00","NeuGenesen":0,"AnzahlGenesen":1,"IstErkrankungsbeginn":1,"Altersgruppe2":"Nicht übermittelt","MeldedatumISO":"2020-11-20","DatenstandISO":"2021-04-11","RefdatumISO":"2020-11-19"}

{"ObjectId":5,"IdBundesland":1,"Bundesland":"Schleswig-Holstein","Landkreis":"SK Flensburg","Altersgruppe":"A00-A04","Geschlecht":"M","AnzahlFall":1,"AnzahlTodesfall":0,"Meldedatum":"2020/11/23 00:00:00","IdLandkreis":"01001","Datenstand":"11.04.2021 00:00 Uhr","NeuerFall":0,"NeuerTodesfall":-9,"Refdatum":"2020/11/18 00:00:00","NeuGenesen":0,"AnzahlGenesen":1,"IstErkrankungsbeginn":1,"Altersgruppe2":"Nicht übermittelt","MeldedatumISO":"2020-11-23","DatenstandISO":"2021-04-11","RefdatumISO":"2020-11-18"}

In [119]:
corona_df = pd.DataFrame(empty_list)

In [45]:
# corona_df.set_index(pd.to_datetime(corona_df['MeldedatumISO'], format='%Y-%m-%d'), inplace = True)

In [120]:
corona_df.head()

,ObjectId,IdBundesland,Bundesland,Landkreis,Altersgruppe,Geschlecht,AnzahlFall,AnzahlTodesfall,Meldedatum,IdLandkreis,...,NeuerFall,NeuerTodesfall,Refdatum,NeuGenesen,AnzahlGenesen,IstErkrankungsbeginn,Altersgruppe2,MeldedatumISO,DatenstandISO,RefdatumISO
0,1,1,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,2020/09/30 00:00:00,01001,...,0,-9,2020/09/30 00:00:00,0,1,0,Nicht übermittelt,2020-09-30,2021-04-11,2020-09-30
1,2,1,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,2020/10/29 00:00:00,01001,...,0,-9,2020/10/29 00:00:00,0,1,0,Nicht übermittelt,2020-10-29,2021-04-11,2020-10-29
2,3,1,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,2020/11/03 00:00:00,01001,...,0,-9,2020/11/03 00:00:00,0,1,0,Nicht übermittelt,2020-11-03,2021-04-11,2020-11-03
3,4,1,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,2020/11/20 00:00:00,01001,...,0,-9,2020/11/19 00:00:00,0,1,1,Nicht übermittelt,2020-11-20,2021-04-11,2020-11-19
4,5,1,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,2020/11/23 00:00:00,01001,...,0,-9,2020/11/18 00:00:00,0,1,1,Nicht übermittelt,2020-11-23,2021-04-11,2020-11-18

In [121]:
corona_df.tail()

,ObjectId,IdBundesland,Bundesland,Landkreis,Altersgruppe,Geschlecht,AnzahlFall,AnzahlTodesfall,Meldedatum,IdLandkreis,...,NeuerFall,NeuerTodesfall,Refdatum,NeuGenesen,AnzahlGenesen,IstErkrankungsbeginn,Altersgruppe2,MeldedatumISO,DatenstandISO,RefdatumISO
1626435,1626436,16,Thüringen,LK Altenburger Land,A80+,W,3,0,2021/04/07 00:00:00,16077,...,0,-9,2021/04/07 00:00:00,-9,0,0,Nicht übermittelt,2021-04-07,2021-04-11,2021-04-07
1626436,1626437,16,Thüringen,LK Altenburger Land,A80+,W,7,0,2021/04/08 00:00:00,16077,...,0,-9,2021/04/08 00:00:00,-9,0,0,Nicht übermittelt,2021-04-08,2021-04-11,2021-04-08
1626437,1626438,16,Thüringen,LK Altenburger Land,A80+,W,1,0,2021/04/09 00:00:00,16077,...,1,-9,2021/04/09 00:00:00,-9,0,0,Nicht übermittelt,2021-04-09,2021-04-11,2021-04-09
1626438,1626439,16,Thüringen,LK Altenburger Land,A80+,W,4,0,2021/04/09 00:00:00,16077,...,0,-9,2021/04/09 00:00:00,-9,0,0,Nicht übermittelt,2021-04-09,2021-04-11,2021-04-09
1626439,1626440,16,Thüringen,LK Altenburger Land,unbekannt,unbekannt,1,0,2021/04/06 00:00:00,16077,...,0,-9,2021/04/06 00:00:00,-9,0,0,Nicht übermittelt,2021-04-06,2021-04-11,2021-04-06

In [122]:
corona_df[(corona_df['MeldedatumISO'] == '2021-04-04') & (corona_df['NeuerTodesfall'] == 1)]

,ObjectId,IdBundesland,Bundesland,Landkreis,Altersgruppe,Geschlecht,AnzahlFall,AnzahlTodesfall,Meldedatum,IdLandkreis,...,NeuerFall,NeuerTodesfall,Refdatum,NeuGenesen,AnzahlGenesen,IstErkrankungsbeginn,Altersgruppe2,MeldedatumISO,DatenstandISO,RefdatumISO
786423,786424,8,Baden-Württemberg,LK Schwäbisch Hall,A80+,W,1,1,2021/04/04 00:00:00,08127,...,0,1,2021/03/27 00:00:00,-9,0,1,Nicht übermittelt,2021-04-04,2021-04-11,2021-03-27
1437118,1437119,14,Sachsen,LK Erzgebirgskreis,A60-A79,M,1,1,2021/04/04 00:00:00,14521,...,0,1,2021/04/04 00:00:00,-9,0,0,Nicht übermittelt,2021-04-04,2021-04-11,2021-04-04
1527932,1527933,15,Sachsen-Anhalt,LK Altmarkkreis Salzwedel,A80+,M,1,1,2021/04/04 00:00:00,15081,...,0,1,2021/04/01 00:00:00,-9,0,1,Nicht übermittelt,2021-04-04,2021-04-11,2021-04-01

In [102]:
grouped_df = pd.DataFrame(corona_df.groupby(['MeldedatumISO','Bundesland']).count()['ObjectId'])
grouped_df = grouped_df.stack().to_frame().reset_index()

In [103]:
res = grouped_df[(grouped_df['MeldedatumISO'] == '2021-04-04')]
res

<bound method NDFrame.head of      MeldedatumISO           Bundesland   level_2  0
4016    2021-04-04    Baden-Württemberg  ObjectId  2
4017    2021-04-04               Bayern  ObjectId  3
4018    2021-04-04               Berlin  ObjectId  1
4019    2021-04-04          Brandenburg  ObjectId  1
4020    2021-04-04        Niedersachsen  ObjectId  3
4021    2021-04-04  Nordrhein-Westfalen  ObjectId  3
4022    2021-04-04              Sachsen  ObjectId  2
4023    2021-04-04       Sachsen-Anhalt  ObjectId  1>

In [100]:
res.columns = ['Datum', 'Bundesland', 'Bla', 'Count Num']

In [101]:
res['Count Num'].sum()

16

In [85]:
grouped_df[(grouped_df['MeldedatumISO'] == '2021-04-04') & (grouped_df['Bundesland'] == 'Thüringen')]

     MeldedatumISO Bundesland   level_2    0
6264    2021-04-04  Thüringen  ObjectId  117

In [73]:
grouped_df[(grouped_df['MeldedatumISO'] == '2021-04-05') & (grouped_df['Bundesland'] == 'Thüringen')]

     MeldedatumISO Bundesland   level_2    0
6280    2021-04-05  Thüringen  ObjectId  130

In [74]:
grouped_df[(grouped_df['MeldedatumISO'] == '2021-04-06') & (grouped_df['Bundesland'] == 'Thüringen')]

     MeldedatumISO Bundesland   level_2    0
6296    2021-04-06  Thüringen  ObjectId  238

In [75]:
grouped_df[(grouped_df['MeldedatumISO'] == '2021-04-07') & (grouped_df['Bundesland'] == 'Thüringen')]

     MeldedatumISO Bundesland   level_2    0
6312    2021-04-07  Thüringen  ObjectId  360

In [76]:
grouped_df[(grouped_df['MeldedatumISO'] == '2021-04-08') & (grouped_df['Bundesland'] == 'Thüringen')]

     MeldedatumISO Bundesland   level_2    0
6328    2021-04-08  Thüringen  ObjectId  343

In [77]:
grouped_df[(grouped_df['MeldedatumISO'] == '2021-04-09') & (grouped_df['Bundesland'] == 'Thüringen')]

     MeldedatumISO Bundesland   level_2    0
6344    2021-04-09  Thüringen  ObjectId  321

In [78]:
grouped_df[(grouped_df['MeldedatumISO'] == '2021-04-10') & (grouped_df['Bundesland'] == 'Thüringen')]

     MeldedatumISO Bundesland   level_2    0
6360    2021-04-10  Thüringen  ObjectId  161